@{
    ViewBag.Title = "用户管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    @System.Web.Optimization.Styles.Render("~/VGebo/chosen.css")
}

<div class="row-fluid heading">
    <div class="pull-left">
        <h3>用户管理</h3>
    </div>
    <div class="pull-right">
        <button class="btn" onclick="add()">新建用户</button>&nbsp;
    </div>
</div>
<div class="row-fluid">
    <div class="form-inline well">
        <div class="span3">
            <label class="title-left sepV_a">用户名</label>
            <input type="text" id="txtUserName" class="input-medium span12">
        </div>
        <div class="span3">
            <label class="ml10 title-left sepV_a">启用状态</label>
            <select id="drpUserState" class="span12">
                <option value="0">--全部--</option>
                <option value="1">启用</option>
                <option value="2">未启用</option>
            </select>
        </div>
        <div class="span3">
            <label class="ml10 title-left sepV_a">群组</label>
            <select class="span12" id="drDataGroups">
                <option value="0">--全部--</option>
                @foreach (var dataGroup in ViewBag.DataGroups)
                {
                    <option value="@dataGroup.SubDataGroupID">@dataGroup.SubDataGroupName</option>
                }
            </select>
        </div>
        <div class="q_btn">
            <button id="btnSearch" class="btn">查询</button>
        </div>
        @*<label class="ml10">员工编号</label>
            <input type="text" id="txtUserId" class="input-medium">*@
    </div>
</div>

<div class="row-fluid">
    <div class="mt10 mbox">
        <table class="table" id="dt_users"></table>
    </div>
</div>

<!--重置密码弹窗页-->
<div class="hide">
    <div id="resetPsd_dialog" class="cbox_content form-inline" style="width: 600px;">
        @using (Ajax.BeginForm(null, null, new AjaxOptions { }, new { id = "frmResetPsd" }))
        {
            <div class="row-fluid heading">
                <div class="pull-left">
                    <h3>重置密码</h3>
                </div>
            </div>
            <div class="row-fluid formSep">
                <div class="span3 title-left">
                    新密码<span style="color: red"> * </span>
                </div>
                <input type="hidden" id="newPsdUserId" />
                <input type="text" id="newPassword" name="newPassword" class="span5" />
                <span class="error-block"></span>
            </div>
            
            <div class="pull-right">
                <button type="button" id="btnCancelReset" class="btn" onclick="$.colorbox.close();">取消</button>&nbsp;
                <button type="submit" id="btnReset" class="btn btn-info sepV_a">重置</button>&nbsp;
            </div>
            
        }
    </div>
</div>

<!--修改用户信息弹窗页-->
<div class="hide">
    <div id="editUser_dialog" class="cbox_content form-inline" style="width: 600px;">
        @using (Ajax.BeginForm(null, null, new AjaxOptions { }, new { id = "frmEditUser" }))
        {
            <div class="row-fluid heading">
                <div class="pull-left">
                    <h3>修改用户信息</h3>
                </div>
            </div>
            <div class="row-fluid sepH_b">
                <div class="span3 title-left">
                    用户编号
                </div>
                <input type="text" id="editUserID" name="editUserID" class="span5" disabled="disabled" />
                <span class="error-block"></span>
            </div>
            <div class="row-fluid sepH_b">
                <div class="span3 title-left">
                    用户名
                </div>
                <input type="text" id="editUserName" name="editUserName" class="span5" />
                <span class="error-block"></span>
            </div>
            <div class="row-fluid sepH_b">
                <div class="span3 title-left">
                    登录名
                </div>
                <input type="text" id="editLoginName" name="editLoginName" class="span5" disabled="disabled" />
                <span class="error-block"></span>
            </div>
            <div class="row-fluid sepH_b">
                <div class="span3 title-left">
                    数据群组
                </div>
                <select id="editDataGroup" name="editDataGroup" class="span5" disabled="disabled">
                    <option value=""></option>
                    @foreach (var group in ViewBag.DataGroups)
                    {
                        <option value="@group.SubDataGroupID">@group.SubDataGroupName</option>
                    }
                </select>
                <span class="error-block"></span>
            </div>
            <div class="row-fluid sepH_b">
                <div class="span3 title-left">
                    手机号
                </div>
                <input type="text" id="editMobile" name="editMobile" class="span5" />
                <span class="error-block"></span>
            </div>
            <div class="row-fluid formSep sepH_b">
                <div class="span3 title-left">
                    邮箱
                </div>
                <input type="text" id="editEmail" name="editEmail" class="span5" />
                <span class="error-block"></span>
            </div>
            
            <div class="pull-right">
                <button type="button" id="btnEditCancel" class="btn" onclick="$.colorbox.close();">取消</button>&nbsp;
                <button type="submit" id="btnEditSave" class="btn btn-info sepV_a">保存</button>&nbsp;
            </div>
            
        }
    </div>
</div>

<!--新建用户弹窗页-->
<div class="hide">
    <div id="addUser_dialog" class="cbox_content form-inline" style="width: 600px;">
        @using (Ajax.BeginForm(null, null, new AjaxOptions { }, new { id = "frmAddUser" }))
        {
            <div class="modal-header">
                <h3>新建用户</h3>
            </div>
            <div class="modal-body mbox">
                <div class="row-fluid sepH_b">
                    <div class="span3 title-left">
                        用户名<span style="color: red"> * </span>
                    </div>
                    <input type="text" id="addUserName" name="addUserName" class="span5" />
                    <span class="error-block"></span>
                </div>
                <div class="row-fluid sepH_b">
                    <div class="span3 title-left">
                        登录名<span style="color: red"> * </span>
                    </div>
                    <input type="text" id="addLoginName" name="addLoginName" class="span5" />
                    <span class="error-block"></span>
                </div>
                <div class="row-fluid sepH_b">
                    <div class="span3 title-left">
                        密码<span style="color: red"> * </span>
                    </div>
                    <input type="text" id="addPassword" name="addPassword" class="span5" />
                    <span class="error-block"></span>
                </div>
                <div class="row-fluid sepH_b">
                    <div class="span3 title-left">
                        数据群组
                    </div>
                    <select id="addDataGroup" name="addDataGroup" class="span5">
                        @foreach (var group in ViewBag.DataGroups)
                        {
                            <option value="@group.SubDataGroupID">@group.SubDataGroupName</option>
                        }
                    </select>
                    <span class="error-block"></span>
                </div>
                <div class="row-fluid sepH_b">
                    <div class="span3 title-left">
                        手机号
                    </div>
                    <input type="text" id="addMobile" name="addMobile" class="span5" />
                    <span class="error-block"></span>
                </div>
                <div class="row-fluid formSep sepH_b">
                    <div class="span3 title-left">
                        邮箱
                    </div>
                    <input type="text" id="addEmail" name="addEmail" class="span5" />
                    <span class="error-block"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnAddCancel" class="btn" onclick="$.colorbox.close();">取消</button>&nbsp;
                <button type="submit" id="btnAddSave" class="btn btn-info sepV_a">保存</button>&nbsp;
            </div>
           
        }
    </div>
</div>

<!--更改角色弹窗页-->
<div class="hide">
    <div id="changeRole_dialog" class="cbox_content form-inline" style="width: 600px;">
        @using (Ajax.BeginForm(null, null, new AjaxOptions { }, new { id = "frmChangeRole" }))
        {
            <div class="modal-header">
                <h3>更改角色</h3>
                <input type="hidden" id="changeRoleUserId" />
            </div>
            <div class="modal-body mbox">
                <div class="row-fluid">
                    <div class="span12">
                        <label>页面角色</label>
                        <select name="pageRoles" id="pageRoles" multiple data-placeholder="请选择..." class="chzn_select span12" style="width: 300%;"></select>
                        <span class="error-block"></span>
                    </div>
                </div>
                <div class="row-fluid formSep">
                    <div class="span12">
                        <label>数据角色</label>
                        <select name="dataRoles" id="dataRoles" multiple data-placeholder="请选择..." class="chzn_select span12" style="width: 300%;"></select>
                        <span class="error-block"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCancelChangeRole" class="btn" onclick="$.colorbox.close();">取消</button>&nbsp;
                <button type="submit" id="btnChangeRole" class="btn btn-info sepV_a">更改角色</button>&nbsp;
            </div>
            
        }
    </div>
</div>


<!--更改业务部门弹窗页-->
<div class="hide">
    <div id="changeBusi_dialog" class="cbox_content form-inline" style="width: 600px;">
        @using (Ajax.BeginForm(null, null, new AjaxOptions { }, new { id = "frmChangeBusi" }))
        {
            <div class="modal-header">
                <h3>分配业务部门</h3>
            </div>
            <div class="modal-body mbox">
                <div class="row-fluid sepH_b">
                    <div class="span3 title-left">
                        用户编号
                    </div>
                    <input type="text" id="txteditUserID" name="txteditUserID" class="span5" disabled="disabled" />
                    <span class="error-block"></span>
                </div>
                <div class="row-fluid sepH_b">
                    <div class="span3 title-left">
                        用户名
                    </div>
                    <input type="text" id="txteditUserName" name="txteditUserName" class="span5" disabled="disabled" />
                    <span class="error-block"></span>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <label>业务部门</label>
                        <select name="pageBusis" id="pageBusis" multiple data-placeholder="请选择..." class="chzn_select span12" style="width: 300%;"></select>
                        <span class="error-block"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" onclick="$.colorbox.close();">取消</button>&nbsp;
                <button type="submit" id="" class="btn btn-info sepV_a">保存</button>&nbsp;
            </div>
            
        }
    </div>
</div>
@section Scripts{
    @System.Web.Optimization.Scripts.Render("~/Gebo/lib/validation/jquery.validate.js", "~/Scripts/Framework/jquery.validate.extend.js")
    @System.Web.Optimization.Scripts.Render("~/Gebo/lib/chosen/chosen.jquery.min.js")
    @System.Web.Optimization.Scripts.Render("~/Scripts/Pages/Auth/Users.js")
}