@{
    ViewBag.Title = "市场活动管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var enablelist = new[]{
    new SelectListItem{Text="--全部--",Value=""},
    new SelectListItem{Text="激活",Value="true"},
    new SelectListItem{Text="未激活",Value="false"}
  };
}
@model Arvato.CRM.Model.MarketActivityFilterModel
@section css{
    @System.Web.Optimization.Styles.Render("~/IXCSS/Common.css", "~/VGebo/chosen.css")
}
<div class="row-fluid heading">
    <div class="pull-left">
        <h3>@ViewBag.Title</h3>
    </div>
</div>
<div class="well">
    @using (Ajax.BeginForm(null, null, new AjaxOptions { }, new { id = "frmSearch" }))
    {

        <div class="row-fluid">
            <div class="span3">
                <label>活动编号</label>
                @Html.TextBoxFor(p => p.ActivityID, new { @class = "span12" })
                <span class="help-block"></span>
            </div>
            <div class="span3">
                <label>活动名称 </label>
                @Html.TextBoxFor(p => p.ActivityName, new { @class = "span12" })
                <span class="help-block"></span>
            </div>
            <div class="span3">
                <label>所属商业计划</label>
                <select id="drpBusinessPlan" class="span12"></select>
                <span class="help-block"></span>
            </div>
            <div class="span3">
                <label>激活状态</label>
                @Html.DropDownListFor(p => p.Enable, enablelist, new { @class = "span12" })
                <span class="help-block"></span>
            </div>
            <div class="hide">
                <label>群组</label>
                <select id="selGroup" class="span12"></select>
            </div>
            <div class="hide">
                <label>门店</label>
                <select id="selStore" class="span12"></select>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span3">
                <label>计划开始时间从 </label>
                @Html.TextBoxFor(p => p.PlanStartTimeFrom, new { @class = "input-medium span12", placeholder = "计划开始时间", @readonly = "readonly" })
                <div class="btn-date-clear"></div>
                <span class="help-block"></span>
            </div>
            <div class="span3">
                <label>至&nbsp;</label>
                @Html.TextBoxFor(p => p.PlanStartTimeEnd, new { @class = "input-medium span12", placeholder = "计划开始时间", @readonly = "readonly" })
                <div class="btn-date-clear"></div>
                <span class="help-block"></span>
            </div>
            <div class="span3">
                <label>计划结束时间从 </label>
                @Html.TextBoxFor(p => p.PlanEndDateFrom, new { @class = "input-medium span12", placeholder = "计划结束时间", @readonly = "readonly" })
                <div class="btn-date-clear"></div>
                <span class="help-block"></span>
            </div>
            <div class="span3">
                <label>至&nbsp;</label>
                @Html.TextBoxFor(p => p.PlanEndDateEnd, new { @class = "input-medium span12", placeholder = "计划结束时间", @readonly = "readonly" })
                <div class="btn-date-clear"></div>
                <span class="help-block"></span>
            </div>
        </div>
        
        <div class="row-fluid ">
            <div class="span3">
                <label>审批状态</label>
                <select id="status" class="span12">
                    <option value="1">全部</option>
                    <option value="99">已审批</option>
                    <option value="0">未审批</option>
                    

                </select>
                
                
            </div>
            <div class="span5">
                <label>&nbsp;</label>
                <button type="button" class="btn btnAdd" id="btnAdd"><i class="splashy-add_small"></i>新建活动</button>&nbsp;&nbsp;&nbsp;
                <button type="submit" class="btn" id="btnSearch">查询</button>
                <button type="button" class="btn" id="btnRestSearchActivity">清空</button>
            </div>
        </div>
    }
</div>
<div class="mt10">
    <div class="dataTables_wrapper">
        <table class="table" id="dtList">
            <thead>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<div class="hide">
    <div id="divPromotionList" class="cbox_content popComLg" style="height: 550px; min-height: 400px;">
        <div class="modal-header">
            <h3>当前可用促销列表</h3>
        </div>
        <div class="modal-body">
            <table class="table" id="dtAvailablePromotionList" style="height: 450px; min-height: 300px; overflow-y: auto;">
            </table>
            <div style="text-align: center">
                <span class="f_req" id="spanError"></span>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-gebo confirm_yes" id="btnActivityPromotion">保存</a>
        </div>
    </div>
</div>
<input type="hidden" id="hd_actid"/>
@section scripts{
    @System.Web.Optimization.Scripts.Render("~/Gebo/lib/datatables/jquery.dataTables.sorting.js")
    @System.Web.Optimization.Scripts.Render("~/Gebo/lib/validation/jquery.validate.js")
    @System.Web.Optimization.Scripts.Render("~/IXJS/libs/jquery.ba-resize.js")
    @System.Web.Optimization.Scripts.Render("~/Scripts/Pages/Mark/index.js")
    @System.Web.Optimization.Scripts.Render("~/Gebo/lib/chosen/chosen.jquery.min.js")
}