@{
    ViewBag.Title = "结算分摊统计";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var startime = DateTime.Now.ToString("yyyy") + "-01-01";
    var endtime = DateTime.Now.ToString("yyyy-MM-dd");
}

@section css{
    @System.Web.Optimization.Styles.Render("~/IXCSS/Common.css")
}

<div class="row-fluid heading">
    <div class="pull-left">
        <h3>结算分摊统计</h3>
    </div>
</div>
<div class="well">
    <div class="row-fluid">
        @*<div class="span3">
            <label>渠道</label>
            <select id="drpChannel" multiple='multiple' data-placeholder='请选择...' class="chzn_a span12" name="drpChannel">
                <option value="">全部</option>
                @foreach (var chan in ViewBag.Channels)
                {
                    <option value="@chan.OptionValue">@chan.OptionText</option>
                }
            </select>
        </div>

        <div class="span3">
            <label>大区</label>
            <select id="drpArea" class="chzn_a span12" name="drpArea">
                <option value="">全部</option>
                @foreach (var area in ViewBag.Areas)
                { 
                    <option value="@area.OptionValue">@area.OptionText</option>
                }
            </select>
        </div>

        <div class="span3">
            <label>城市</label>
            <select id="drpCity" class="chzn_a span12" name="drpCity">
                <option value="">全部</option>
                @foreach (var city in ViewBag.City)
                {
                    <option value="@city.RegionID">@city.NameZH</option>
                }
            </select>
        </div>*@

        <div class="span3">
            <label>交易门店</label>
            <select id="drpStores" multiple='multiple' data-placeholder='请选择...' class="chzn_a span12" name="drpStores">
                <option value="">全部</option>
                @foreach (var store in ViewBag.Stores)
                {
                    <option value="@store.StoreCode">@store.StoreName</option>
                }
            </select>
        </div>

        <div class="span4">
            <div class="pull-right">
                <label>&nbsp;</label>
                <button class="btn" id="btnSearch" type="button">查询</button>
                @*<button class="btn" id="btnExport" type="button">导出</button>*@
            </div>
        </div>

    </div>

    @*<div class="row-fluid">
        <div class="span3">
            <label>查询起期</label>
            <input type="text" class="span12" readonly="readonly" style="cursor:pointer" value="@startime" placeholder="消费起期" id="txtStartDate" />
            <span class="help-block"></span>
        </div>

        <div class="span3">
            <label>查询止期</label>
            <input type="text" class="span12" readonly="readonly" style="cursor:pointer" value="@endtime" placeholder="消费止期" id="txtEndDate" />
            <span class="help-block"></span>
        </div>

        
    </div>*@

</div>


<div class="row-fluid sepV_b">
    <table class="table" data-provides="rowlink" id="dt_search">
        @*<thead>
            <tr>
                <th scope="col">城市</th>
                <th scope="col">店铺</th>
              
                <th scope="col">会员消费金额（区间）</th>
                <th scope="col">会员消费额在各门店占比</th>
                <th scope="col">总消费金额</th>
                <th scope="col">门店会员贡献率</th>
            </tr>
        </thead>
        <tbody>
        </tbody>*@
    </table>

</div>

<form id="exportForm" method="post">
    <input type="hidden" id="exprDtStart" name="exprDtStart" />
    <input type="hidden" id="exprDtEnd" name="exprDtEnd" />
    <input type="hidden" id="exprChannel" name="exprChannel" />
    <input type="hidden" id="exprArea" name="exprArea" />
    <input type="hidden" id="exprCity" name="exprCity" />
    <input type="hidden" id="exprStore" name="exprStore" />
</form>  

@section Scripts{

    @System.Web.Optimization.Scripts.Render("~/Scripts/Pages/Report/SettlementShare.js")
    @System.Web.Optimization.Scripts.Render("~/Gebo/lib/multi-select/js/jquery.multi-select.js", "~/Gebo/lib/multi-select/js/jquery.quicksearch.js", "~/Gebo/lib/chosen/chosen.jquery.min.js")

}


